
* {
  margin:0;
  padding:0;

}
body{
    background-image:url( background.jpeg );
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

.container-analyze{

	width: 100%;
	height:100vh;
	#background-color:rgb(38,59,82,1);
	#padding-left:8%;
	#padding-right:8%;
	box-sizing:border-box;
}
.navbar-analyze{

	height:12%;
	display:flex;
	align-items:center;

}

nav-analyze{
	flex:1;
	text-align:right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;


}

nav ul li a{
	text-decoration:none;
	color: #fff;
	font-size: 20px;
}

.row{

	display:flex;
	height:88%;
	align-items:center;
	padding-left:8%;
	#padding-right:8%;

}
.col{

	flex-basis:50%;

}

.card{

	width: 350px;
	height: 350px;
	display: inline-block;
	border-radius:10px;
	padding:15px 25px;
	box-sizing:border-box;
	cursor:pointer;
	margin:10px 15px;
	background-color:#fff;
	transition:transform 0.5s;
}

.card:hover{
	transform: translateY(-10px);
}