<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style3.css')}}">
    <link  rel="stylesheet" type="text/css" href="{{url_for('static',filename='StyleSheet1.css')}}">
    <link  rel="stylesheet" type="text/css" href="{{url_for('static',filename='StyleSheet2.css')}}">

    <title>VSA About Us</title>
</head>
<body class="container full-height-grow">
    <header class="main-header">
        <a href="/" class="brand-logo">
            <img src="{{url_for('static',filename='images/logo.png')}}">
            <div class="brand-logo-name">Vaccine Stance Analysation</div>
            </a>
            <nav class="main-nav">
            <ul>
            <li><a href="/details">Details</a></li>
             <li><a href="/about">About Us</a></li>
            </ul>
            </nav>
    </header> 


    <div class="header">
        <h1>Our Team</h1>
    </div>
    <div class="sb-container" >
    <div class="teams" style="width:600px;">
        <img src="{{url_for('static',filename='images/profile1.png')}}" alt="profile pic ">
        <div class="name">Sk. Aftab Aman</div>
        <div class="desig">Developer</div>
   
        <div class="about">
        <p>hey, i'm Aftab currently in my 4th year in college,
		love to work on ML and Python or web development related stuff .</p>
        </div>
        
        <div class="social-links">
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <div class="teams" style="width:600px;">

        <img src="{{url_for('static',filename='images/profile2.png')}}" alt="profile pic ">
        <div class="name">Meghna Chakraborty</div>
        <div class="desig">Developer</div>
     
        <div class="about">
        <p>I am a final year Computer Science Engineering student.My interest lies in applications of Machine Learning and front-end website development and design.As a hobby I love to read books,dance and tend to my plants. </p>
        </div>
        
        <div class="social-links">
            <a href="https://www.linkedin.com/in/meghna-chakraborty-04b370180/"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    </div>
    
</body>
<footer>
<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Sentiment Prediction</a></li>
                            <li><a href="#">Analytics</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Associated With: UEM,Kolkata</a></li>
                            <li><a href="#">Tech Used: ML,Flask</a></li>
                            <li><a href="#">Python,Html,CSS,Java Script</a></li>
                        </ul>
                    </div>
                    
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Vaccine Stance Analysation © 2021</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</footer>

</html>
